body{
    background-color: rgb(255, 255, 121);
}


.navi{
    background-color: rgb(255, 179, 0);
}

.navb{
    font-size: 26px;
}

.notecard{
    background-color: rgb(255, 179, 0);
    margin-bottom: 25px;
}

.notes{
    padding-top: 25px;
    padding-bottom: 25px;
}

.form{
    background-color: rgb(250, 183, 27, 0.8);
    width: fit-content;
    padding: 15px;
    margin: auto;
    text-align: center;
}
.form label{
    padding-top: 15px;
}
.formsubmit{
    margin-top: 15px;
}
.formcontainer{
    margin-top: 3%;
}

input#title{
    width: 100%;
}

textarea{
    font-size: 16px;
}

.delbtn{
    width: fit-content;
    margin-left: 80%;
}
.dellink{
    color: aliceblue;
    text-decoration: none;
}

.card-body h3{
    color: rgb(108, 52, 0);
}

.subtn{
    margin-top: 10px;
}

.inform{
    background-color: rgb(255, 179, 0);
    width: fit-content;
    text-align: center;
    padding: 20px 50px;
    padding-bottom: 5px;
    margin: auto;
    margin-top: 10%;
}

.inform label{
    padding-top: 10px;
}

.inform button{
    margin-top: 10px;
}
.inform p{
    margin-top: 25px;
}
.inform a{
    text-decoration: none;
    color: rgb(97, 69, 0);
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px 5px;
    padding: 3px;
}
.inform a:hover{
    background-color: aquamarine;
    color: black;
}

.informup{
    background-color: rgb(255, 179, 0);
    width: fit-content;
    text-align: center;
    padding: 20px 80px;
    padding-bottom: 5px;
    margin: auto;
    margin-top: 10%;
}

.informup button{
    margin-top: 10px;
}
.informup p{
    margin-top: 25px;
}
.informup a{
    text-decoration: none;
    color: rgb(97, 69, 0);
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px 5px;
    padding: 3px;
}
.informup a:hover{
    background-color: aquamarine;
    color: black;
}

.informup input{
    margin: 15px 5px;
    width: 200px;
}